.walrus-showing {
  display: none;
}

.walrus-fadeOut {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickableFade {
  cursor: pointer;
  color: #0088cc;
}

.clickableFade:hover {
  text-decoration: underline;
}